.products-filter-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 1.8rem;
}

.products-sort-div {
  display: grid;
  gap: 3rem;
  grid-template-columns: 0.8fr 4fr 1.3fr;
  justify-content: center;

  margin-bottom: 2rem;
}

.products-line {
  border: none;
  border-top: 1px solid #5ec576;
  display: inline-block;
  align-self: center;
}

.sort-products-label select,
.sort-products-label {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #444;
  font-weight: 500;
}

.sort-products-label {
  margin-left: 1.2rem;
}

.sort-products-form select {
  padding: 0.25rem 0.5rem;
  text-align: start;
  border: 1px solid #bfe8c8;
  background-color: #eff9f1;
}

.sort-products-form select {
  color: #444;
}

.single-product-image {
  height: 17.5rem;
  cursor: pointer;
}
