/* CONTAINER */
.products-filter-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 1.8rem;
}

.products-sort-div {
  display: grid;
  gap: 3rem;
  grid-template-columns: 0.9fr 4fr 1.3fr;
  justify-content: center;

  margin-bottom: 3.4rem;
}

/* LINE */
.products-line {
  border-top: 1px solid var(--primary-color);
  display: inline-block;
  align-self: center;
}

/* FORM */
.sort-products-label select,
.sort-products-label {
  font-size: 1.4rem;
  color: var(--color-paragraph-primary);
  font-weight: 500;
}

.sort-products-label {
  margin-left: 1.2rem;
}

.sort-products-form select {
  padding: 0.25rem 0.5rem;
  text-align: start;
  border: 1px solid #bfe8c8;
  background-color: #eff9f1;
  color: var(--color-paragraph-primary);
  border-radius: 0.25rem;
}

/* IMAGE */
.single-product-image {
  height: 17.5rem;
  cursor: pointer;
}
