.section-nav {
  background-color: var(--color-gray-background);
}

.section-nav-about {
  background-color: var(--color-background-icon);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 3rem 0;
  max-width: 120rem;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

.logo-div,
.shopping-icon {
  font-weight: 500;
  cursor: pointer;
}

.shopping-icon {
  font-size: 2rem;
  color: var(--color-paragraph-primary);
}

.logo-text {
  font-weight: 500;
  color: var(--color-paragraph-primary);
}

.nav-list {
  display: flex;
  gap: 4rem;
}

.nav-list-item {
  display: inline-block;
}

.shopping-card-div,
.logo-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.badge {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  border-radius: 0.9rem;
}

#lblCartCount {
  font-size: 1.2rem;
  background: var(--primary-color);
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -1rem;
}

.icon-text-cart {
  display: flex;
  gap: 0.5rem;
}

.icon-text-cart {
  color: var(--color-paragraph-primary);
}

.cart-icon {
  color: var(--color-paragraph-primary);
  font-weight: 500;
}

.active-link {
  border-bottom: 1px solid var(--primary-color);
}

/* RESPONSIVE */

@media (max-width: 1199px) {
  .nav {
    max-width: 100rem;
  }
}

@media (max-width: 1050px) {
  .nav {
    max-width: 90rem;
  }
}
