.section-creeds {
  padding: 9.6rem 0;
  border-top: 1px solid #dee2e6;
}

.container-creeds {
  max-width: 100rem;
  margin: 0 auto;
}

.creeds-cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.creeds-cards-div {
  margin-top: 9.6rem;
}

.creed-article {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 0.5rem;
  transition: all 1s;
}

.creed-article-heading {
  font-size: 1.8rem;
  color: var(--color-paragraph-primary);
}

.creed-icon-div {
  font-size: 2.2rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 1.6rem;
  background-color: var(--color-background-icon);
}

.creed-icon-div span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--color-icon);
}

@media (max-width: 1051px) {
  .container-creeds {
    max-width: 85rem;
  }
}

@media (max-width: 913px) {
  .container-creeds {
    max-width: 65rem;
  }

  .creed-icon-div {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.4rem;
  }
  .creed-article-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 681px) {
  .container-creeds {
    max-width: 55rem;
  }

  .creed-icon-div {
    font-size: 1.8rem;
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 1.2rem;
  }
  .creed-article-heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 581px) {
  .container-creeds {
    max-width: 45rem;
  }

  .creed-icon-div {
    font-size: 1.7rem;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 1.2rem;
  }
  .creed-article-heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 481px) {
  .container-creeds {
    max-width: 40rem;
  }

  .creeds-cards-div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 6rem;
  }

  .creed-icon-div {
    font-size: 1.8rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.2rem;
  }

  .creed-article-heading {
    font-size: 1.4rem;
  }

  .creed-article-paragraph {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 417px) {
  .container-creeds {
    max-width: 32rem;
  }
}
