.section-home {
  background-color: var(--color-gray-background);
  height: 100vh;
  padding: 3.6rem 0;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.home-text-area {
  margin-top: 6.2rem;
}

.home-paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 2.2rem;
  color: var(--color-paragraph-primary);
}

.home-buttons-div {
  display: flex;
  gap: 1.2rem;
}

.home-button-about {
  background-color: #fff;
  color: var(--color-paragraph-primary);
}

.home-button-about:hover {
  background-color: #e6e6e6;
}

.home-right {
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 82%;
  border-radius: 0.25rem;
}

.hero-nav-patch {
  padding: 6.2rem 0;
}
