.section-home {
  background-color: var(--color-gray-background);
  padding-top: 5.2rem;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.home-text-area {
  margin-top: 6.2rem;
}

.home-paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 2.2rem;
  color: var(--color-paragraph-primary);
}

.home-buttons-div {
  display: flex;
  gap: 1.2rem;
}

.home-button-about {
  background-color: #fff;
  color: var(--color-paragraph-primary);
}

.home-button-about:hover {
  background-color: #e6e6e6;
}

.home-right {
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 82%;
  border-radius: 0.25rem;
}

.hero-nav-patch {
  padding: 6.2rem 0;
}

@media (max-width: 1050px) {
  .home-paragraph {
    font-size: 1.9rem;
  }
}

@media (max-width: 799px) {
  .home-paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 479px) {
  .section-home {
    background-color: var(--color-gray-background);
    padding-top: 0;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 3rem;
  }

  .home-right {
    justify-content: center;
  }

  .image {
    width: 73%;
    border-radius: 0.25rem;
  }
}
