.section-slider {
  border-top: 1px solid #dee2e6;
}

.container-slider {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 9.6rem;
}

.slider {
  max-width: 80rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  right: 6%;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 40%;
  right: 20%;
  left: 5%;
  z-index: 100;
  border: none;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.7);
  color: var(--color-paragraph-primary);
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  border-radius: 50%;
}

.slider__btn--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  left: 75%;
  transform: translate(50%, -50%);
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.heading-testimonial {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--color-paragraph-primary);
  line-height: 1.9;
}
/* UNDERLINE */
.underline-slider {
  position: relative;
  height: 0.3rem;
  margin-bottom: 1.5rem;
}

.underline-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color)
  );
  animation: fillUnderline 5s linear forwards infinite;
}

.underline-slider:hover::before {
  width: 100%;
}

@keyframes fillUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; /* Ending width */
  }
}

.underline-none {
  visibility: hidden;
}

@keyframes restartFillUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

.underline-none::before {
  animation-name: restartFillUnderline;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}

/* TESTIMONIALS CONTINUE */

.quote-testimonial {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.author-testimonial {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.image-testimonial {
  grid-row: 1 / span 2;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
}

.name-testimonial {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
  color: var(--color-paragraph-primary);
}

.location-testimonial {
  font-size: 1.5rem;
  color: #666;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}
