.heading-fifth {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

/* CATEGORIES */
.products-categories {
  display: flex;
  flex-direction: column;
}

.product-category-btn {
  margin: 0.25em 0px;
  padding: 0.25rem 0px;
  text-transform: capitalize;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid transparent;
  letter-spacing: 0.1rem;
  color: #666;
  cursor: pointer;
  align-self: start;
}

/* COMPANIES */
.products-companies select,
.products-text-input input {
  padding: 0.25rem 0.5rem;
  border: transparent;
  background-color: #f7eff9;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #666;
  cursor: pointer;
  margin-top: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem;
}

.products-text-input input {
  padding: 0.5em 1rem;
  color: var(--color-paragraph-primary);
}

/* COLORS */
.product-colors-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product-color-item {
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  opacity: 0.5;
  border: none;
  position: relative;
}

.checkmark-icon {
  color: #fff;
  font-weight: 700;
}

.color-active {
  opacity: 1;
}

/* PRICE */
.heading-price {
  margin-bottom: 1.4rem;
}

.product-price-container input {
  display: block;
}

/* SHIPPING */
.product-shipping-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-btn-active {
  border-bottom: 1px solid var(--primary-color);
}
