.single-product-article {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  gap: 4.2rem;
}

/* IMAGES */

.single-product-article-imgs-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-product-main-img {
  height: 50rem;
  width: 100%;
}

.single-product-article-single-imgs-div {
  display: flex;
  justify-content: space-between;
}

.single-product-article-single-img {
  height: 6.67rem;
  width: 10rem;
}

.image-active {
  border: 2px solid #5ec576;
}

.heading-single-article {
  margin-bottom: 0.6rem;
}

/* STARS */

.single-product-article-review {
  font-size: 1.4rem;
}

.single-product-article-price {
  margin-bottom: 2.2rem;
  font-size: 1.8rem;
}

.single-product-article-description {
  line-height: 2;
}

/* ARTICLE INFO */

.single-product-article-info-container {
  border-bottom: 1px solid #dee2e6;
}

.single-product-article-info-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.single-product-article-info {
  font-size: 1.4rem;
  color: #666;
}

.info-last-child {
  margin-bottom: 1rem;
}
/* 
ADD TO CART */

.single-product-add-to-cart {
  display: flex;
  flex-direction: column;
  color: #444;
  font-size: 2rem;
  margin-top: 2rem;
}

.single-product-article-colors-div {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.single-product-article-colors-div div button {
  margin-left: 0.25rem;
}

.add-to-cart-logic-div,
.stars-reviews-div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.add-to-cart-logic-div {
  margin-top: 1.5rem;
}

.purchased-products {
  font-size: 2.2rem;
  font-weight: 500;
  color: #444;
}

.btn-back-to-products {
  display: inline-block;
  background: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #5ec576;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  margin-bottom: 3.2rem;
  border-radius: 0%;
  padding: 0;
  padding-bottom: 2px;
}

.btn-back-to-products:hover {
  color: #55b16a;
}

.btn-add-to-cart {
  width: 23%;
  margin-top: 3.8rem;
}

.stars-reviews-div {
  gap: 0.5rem;
}

.rating {
  font-weight: 500;
}
.rating,
.stars {
  font-size: 1.4rem;
  color: #e59819;
}
