:root {
  --primary-color: #b05ec4;
  --secondary-color: #9e55b0;
  --color-background-icon: #e7cfed;
  --color-icon: #b05ec4;

  --color-paragraph-primary: #444;
  --color-gray-background: #f3f3f3;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-gray-background);
}

a,
a:active,
a:visited {
  color: var(--color-paragraph-primary);
  text-decoration: none;
}

.section-featured-products,
.section-creeds,
.section-slider,
.section-tabs {
  padding: 15rem 0;
}

.section-tansform {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
.featured-product-description-div,
.single-product-name-price,
.sort-products-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-product-image,
.single-product-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.6rem;
}

.featured-product-name,
.featured-product-price,
.single-product-name,
.single-product-price,
.single-product-article-price,
.products-number,
.heading-fifth {
  font-size: 1.4rem;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: var(--color-paragraph-primary);
  font-weight: 500;
}

.featured-product-name,
.featured-product-price {
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  color: var(--color-paragraph-primary);
  line-height: 1.4;
}

.heading-secondary {
  text-transform: capitalize;
  font-size: 3.6rem;
  color: var(--color-paragraph-primary);
  line-height: 1.4;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
  text-align: center;
  text-align: start;
}

.heading-cart-price {
  color: var(--primary-color);
}

.heading-fourth {
  line-height: 1.4;
  color: var(--color-paragraph-primary);
  font-size: 3.7rem;
  font-weight: 500;
}

.heading-total {
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-clear-filters {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: #e81616;
  color: #fff;
  width: 50%;
}

.btn-clear-filters:hover {
  background-color: #d11414;
}

.btn-increment-products,
.btn-decrement-products {
  background-color: #e4e4e4;
  padding: 0.8rem 1.6rem;
}

.btn-increment-products:hover,
.btn-decrement-products:hover {
  background-color: #cdcdcd;
}

.btn-back-to-products {
  background: none;
  font-weight: 500;
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  margin-bottom: 3.2rem;
  border-radius: 0%;
  padding: 0 0 2px 0;
}

.btn-home-explore,
.btn-all-products,
.btn-add-to-cartn,
.btn-cart-empty,
.btn-add-to-cart {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-home-explore:hover,
.btn-all-products:hover,
.btn-add-to-cart:hover,
.btn-cart-empty:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.single-product-name,
.featured-product-name {
  text-transform: capitalize;
}

.featured-product-price,
.single-product-price,
.single-product-article-price {
  /* color: #222; */
  color: var(--primary-color);
}

.creed-article-paragraph,
.single-product-article-description,
.single-product-article-review,
.about-us-parapgraph {
  font-size: 1.5rem;
  line-height: 1.9;
  color: #666;
}

.hidden {
  visibility: hidden;
}

/* RESPONSIVE */

@media (max-width: 1199px) {
  .container {
    width: 100rem;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .home-paragraph {
    font-size: 2.2rem;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 85rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }
  .heading-fourth {
    font-size: 3.4rem;
  }
  .home-paragraph {
    font-size: 1.7rem;
  }

  .creed-article-paragraph,
  .single-product-article-description,
  .single-product-article-review,
  .about-us-parapgraph {
    font-size: 1.4rem;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 100rem;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .home-paragraph {
    font-size: 2.2rem;
  }
}

@media (max-width: 1049px) {
  .heading-primary {
    font-size: 3.6rem;
  }

  .home-paragraph {
    font-size: 1.9rem;
  }
}

@media (max-width: 899px) {
  .container {
    max-width: 75rem;
  }

  .heading-primary {
    font-size: 3.1rem;
  }

  .home-paragraph {
    font-size: 1.7rem;
  }

  .heading-tertiary {
    font-size: 1.4rem;
  }

  .heading-fourth {
    font-size: 3rem;
  }

  .creed-article-paragraph,
  .single-product-article-description,
  .single-product-article-review,
  .about-us-parapgraph {
    font-size: 1.2rem;
    line-height: 1.9;
    color: #666;
  }

  .btn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 779px) {
  .container {
    width: 65rem;
  }

  .heading-primary {
    font-size: 2.7rem;
    margin-bottom: 1.8rem;
  }

  .home-paragraph {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.9rem 1.8rem;
  }
}
