/*

COLORS:
- primary background: #f1f3f5;
- links color: #333;
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

a,
a:active,
a:visited {
  color: #444;
  text-decoration: none;
}

.section {
  background-color: #f3f3f3;
  transition: transform 1s, opacity 1s;
}

.section-featured-products,
.section-creeds {
  padding: 9.6rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  color: #444;
  line-height: 1.4;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5ec576;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  letter-spacing: 0.75px;
  text-align: center;
}

.btn {
  padding: 1.2rem 2.4rem;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-clear-filters {
  padding: 1rem 2rem;
  background-color: #e81616;
  color: #fff;
  width: 50%;
}

.btn-home-explore,
.btn-all-products {
  background-color: #5ec576;
  color: #fff;
}

.featured-product-description-div,
.single-product-name-price,
.sort-products-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-product-image,
.single-product-image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.6rem;
}

.featured-product-name,
.featured-product-price,
.single-product-name,
.single-product-price,
.single-product-article-price,
.products-number,
.heading-fifth {
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 0.75rem;
  padding-top: 1rem;
  color: #444;
  font-weight: 500;
}

.featured-product-price,
.single-product-price,
.single-product-article-price {
  /* color: #222; */
  color: #5ec576;
}

.creed-article-paragraph,
.single-product-article-description,
.single-product-article-review,
.about-us-parapgraph {
  font-size: 1.4rem;
  line-height: 1.9;
  color: #666;
}

.hidden {
  visibility: hidden;
}
